body, html {
  background-color: black;
}
/*GENERAL*/
.logo_edits{
  color: white;
  font-size: 24px;
}
.logo_edits:hover {
  color: white;
  text-decoration: none;
}
.brand_color {
    color: #5B5B5C !important;
}
.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  text-align: center;
}
/* Specific vertical centering applied only when 'vert' class is also present */
.centered-content.vert {
  justify-content: center;
  height: 70vh; /* or 100vh if you want it to take the full viewport height */
}
.centered-contented {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 0;
}
.centered-text {
  font-size: 24px;
  margin-bottom: 20px;
  color:white;
}
.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding:5px;
}
.start-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #8075FF;
  border: none;
  cursor: pointer;
}
.start-button:hover {
  background-color: white;
}
.lower{
  padding-top:20px
}

/*LAYOUT*/
.navbar-star-icon {
  background-color: #8075FF;
  padding: 10px;
  margin-right: 10px;
  font-size: 24px; /* Adjust the size of the star */
}
/* Define a CSS class for the background image */
.bg-image {
  /* Set background image */
  background-color: black;
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/hemisphere-boreal.jpg');/*
  /* Set background size */
  background-size: cover;
  /* Set background position */
  background-position: center;
  /* Set background repeat */
  background-repeat: no-repeat;
  /* Set min height to ensure image covers the whole page */
  min-height: 100vh;
}
.body-container {
  color: white;
}
.navbar-custom {
  background-color: black;
}
#navbarNavAltMarkup .nav-link {
    color: #BDBDBE;  /* Specific color */
}

.navbar-nav .nav-link {
    margin-right: 40px; /* Adds space between the links */
    color: #007bff; /* Example blue color */
}
.navbar-nav .nav-link:last-child {
    margin-right: 0; /* Removes margin on the right for the last link */
}

/*WELCOME*/
.fbh {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 9vh;
}
.fbs {
  font-family: 'Mulish', sans-serif;
  font-size: 2.5vh;
}
.fbsb{
  padding: 10px 60px 10px 60px;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  color: black;
  font-size: 3vh;
}
.fbsbg{
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  color: black;
  font-size: 2vh;
}
.white{
  color: white;
}
.fbsbs{
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  color: black;
  font-size: 3vh;
  color: white;
  padding-left: 5px;
}
.back{
  background-color: #adadadff;
  color: #303030;
}
/*VIEW*/
.vh{
  font-size: 6vh;
  font-family: 'Space Mono', monospace;
  font-weight: 900;

}
.vsh{
  font-family: 'Mulish', sans-serif;
  font-size: 3vh;
  color: white;
}
.vsc{
  font-family: 'Mulish', sans-serif;
  font-size: 2vh;
  color: #adadad;
}
.const-poster {
  margin-top: 4vh;
  max-width: 100%;
  margin-bottom: 50px;
}

/*LEARN*/
.learn_img {
  max-height: 400px;  /* Maximum height */
  max-width: 100%;    /* Maximum width to maintain aspect ratio */
  height: auto;       /* Maintain aspect ratio */
  width: auto;        /* Maintain aspect ratio */
}


.lh{
  padding-top: 50px;
  font-family: 'Space Mono', monospace;
  font-weight: 900;
  font-size: 7vh;
}
.lsh{
  color:
}
/*QUIZ PAGE*/
#canvas-container {
    padding-bottom: 10px;
}

.qh{
  font-size: 4.3vh;
  font-family: 'Space Mono', monospace;
  font-weight: 900;
  text-align: center;

}
.qinstr {
  display: flex;           /* Establishes this div as a flex container */
  align-items: center;     /* Vertically centers the content in the container */
  justify-content: flex-start; /* Horizontally aligns content to the start; change as needed */
  padding: 25px;
  margin-top: 20px;
  background-color: #eeff41;
  color: #303030;
}
.qnote {
  display: flex;           /* Establishes this div as a flex container */
  padding: 30px;
  margin-top: 20px;
  background-color: #303030ff;
  color: white;
}
.qbutton{
  margin-top: 20px;
}
.material-symbols-outlined {
    color: black; /* Outline color */
    text-shadow:white; /* Fill effect */
    font-size: 24px; /* Adjust size as needed */
    transform: scaleX(-1);
}
.button-group.vertical {
  display: flex;
  flex-direction: column;
}
.fbu{
  padding: 10px 60px 10px 60px;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  color: black;
  font-size: 3vh;
}
/*SUMMARY PAGE*/
.sh{
  text-align: left;
  font-size: 6vh;
  font-family: 'Space Mono', monospace;
  font-weight: 900;
}
.ssc{
  font-family: 'Mulish', sans-serif;
  font-size: 3vh;
  color: #adadad;
}
.score-table {
    width: 100%;
    border-collapse: collapse;
}
.score-table th, .score-table td {
    padding: 8px;
    text-align: left;
}
.score-table th {
    background-color: white;
    color: black;
}
.score-table td {
    border-bottom: 1px solid #ddd;
}
.score-table .name {
    text-align: left;
}
.score-table .score {
    text-align: right;
}
