{% extends "layout.html" %}

{% block content %}
<div class="body-container">
  <div class="row">
    <div class="">
      <h1 class="const-title">{{ item['name'] }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="const-info">
      <p>The key things to keep in mind when looking for {{ item.name }} in the night sky are:</p>
    </div>
  </div>

  <div class="">
    <img src="{{ url_for('static', filename='images/' + item.image)}}" alt="{{ item.name}}" class="learn-image">
  </div>

  <div class="row">
    <div class="button-group">
      <button class="start-button" onclick="location.href='/quiz/{{ item.id }}'">Test your knowledge of {{ item.name }}</button>
    </div>
  </div>

</div>
</div>
</div>

{% endblock %}