{% extends "layout.html" %}

{% block content %}

<div class="centered-content">
    <div class="centered-text container">
        <div class="const-title sh row">Great job!</div>
        <div class="ssc row">You made it through the quiz. Here are your results: <span class="fbsbs"> {{ score }}</span></div>
        <div class="row">
          <div class="col-3"></div>
          <div class="col-6 center">
          </div>
          <div class="col-3"></div>
        </div>
        <table class="score-table">
            <thead>
                <tr>
                    <th class="name">Star Name</th>
                    <th class="score">Score</th>
                </tr>
            </thead>
            <tbody>
                {% for name, score in scoreBoard %}
                <tr>
                    <td class="name">{{ name }}</td>
                    <td class="score">{{ score }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="button-group">
        <button class="start-button" onclick="location.href='/hello'">START AGAIN</button>
    </div>
</div>

{% endblock %}
