{% extends "layout.html" %}

{% block content %}

<div class="body-container">
    <div class="row">
      <div class="col-md-7">
        <!-- Constellation Name -->
        <div class="const-title vh">{{ item['name'] }}</div>
        <!-- Const Info -->
        <div class="const-info">
            <span class="vsh">Hemisphere:</span> <span class="vsc">{{ item['hemisphere'] }}</span>
        </div>
        <div class="const-info">
          <span class="vsh">Season:</span> <span class="vsc">{{ item['season'] }}</span>
        </div>
        <div class="const-info">
          <span class="vsh">Number of Stars:</span> <span class="vsc">{{ item['number of stars'] }}</span>
        </div>
        <div class="const-info">
          <span class="vsh">Brightest Star:</span> <span class="vsc">{{ item['brightest star'] }}</span>
        </div>
        <div class="const-info">
          <span class="vsh">Characteristics:</span> <span class="vsc">{{ item['characteristics'] }}</span>
        </div>
        <div class="const-info">
          <span class="vsh">Namesake:</span> <span class="vsc">{{ item['namesake'] }}</span>
        </div>
      </div>
      <div class="col-md-5">
          <img src="{{ url_for('static', filename='images/' + item.image)}}" alt="{{ item.name}}" class="img-fluid const-poster">
      </div>
    </div>
    <br>
    <div class="button-group">
        <button class="start-button fbsb" onclick="location.href='/learn/{{ item.id }}'">NEXT</button>
    </div>

</div>

{% endblock %}
