{% extends "layout.html" %}

{% block content %}


<div class="centered-content" >
  <div class="row">
    <div class="col-3"></div>
    <div class="centered-text">
      <div class="fbh">
        Learn to STARGAZE
      </div>
      <div class="row">
        <div class="col-2"></div>
        <div class="fbs col-8">
          Learn about easily visible constellations and how to spot them in the night sky with your naked eye.
        </div>
      </div>

    </div>
  </div>
  <div class="button-group ">
    <button class="start-button fbsb" onclick="location.href='/view/1'">START</button>
  </div>
</div>

{% endblock %}
